<!DOCTYPE html>
<html lang="es-mx">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'core/css/inicioJefatura.css' %}">
    <title>Resumen de Tareas</title>
</head>
<body>
    <!--Menu de navegacion-->
    <ul class="menu">
        <li><a class="activo" href="{% url 'inicioJefatura' %}">Inicio</a></li>
        <li><a href="{% url 'tareaJefatura' %}">Ingresar Tarea</a></li>
        <li class="derecho"><a href="{% url 'logout' %}">Cerrar Sesión</a></li>
        <li class="derecho"><a href="#"><img src="{% static 'core/img/campana.png' %}" style="color: whitesmoke;"> Notificación</a></li>
        {% if user.is_authenticated %}
            <li class="derecho"><a href="#"><img src="{% static 'core/img/usuario.png' %}"> {{ user.username }}</a></li>
        {% endif %}
    </ul>
    <!--Porcentajes de avance de tareas (Error al leer archivo externo de CSS ?)-->
    <div class="contenedor" style="display: flex; align-items: center; font-family: Calibri;">
        <div style="margin: 0 auto; text-align: center; font-size: 200%;">
            {% if tareas %}
                <h1>{{ tareas.count }}</h1><!--Cantidad de tareas totales-->
            {% else %}
                <h1>0</h1>
            {% endif %}
            <p>Total de Tareas</p>
        </div>
        <div style="margin: 0 auto; text-align: center; font-size: 150%;" >
            {% if tareas %}
                <h1>{{ tareas_completadas.count }}</h1><!--Catidad de tareas completadas-->
            {% else %}
            <h1>0%</h1>
            {% endif %}
            <p>Tareas Completadas</p>
        </div>
        <div style="margin: 0 auto; text-align: center; font-size: 150%;">
            <h1>{{ tareas_desarrollo.count }}</h1><!--Cantidad de tareas en desarrollo-->
            <p>Tareas en Desarrollo</p>
        </div>
        <div style="margin: 0 auto; text-align: center; font-size: 150%; color:red;">
            <h1>{{ tareas_atrasadas.count }}</h1><!--Cantidad de tareas atrasadas-->
            <p>Tareas Atrasadas</p>
        </div>
    </div>
    <table style="font-size: 120%;">
        <tr>
            <th>Tarea</th>
            <th>Estado</th>
            <th>Fecha Límite</th>
            <th>Responsable</th>
        </tr>
        {% if tareas %}
            {% for tarea in tareas %}
            <tr><!--Llenamos la tabla con informacion de la base de datos-->
                <td>{{ tarea.nombre }}</td>
                {% if tarea.estado == 1 %}<!--Segun el estado de tarea cambia la palabra y color-->
                    <td style="background-color: lightgoldenrodyellow;">En Desarrollo</td>
                {% elif tarea.estado == 2 %}
                    <td style="background-color: lightgreen;">Completada</td>
                {% else %}
                    <td style="background-color: lightcoral;">Atrasada</td>
                {% endif %}
                <td>{{ tarea.plazo }}</td>
                <td>{{ tarea.responsable }}</td>
            </tr>
            {% endfor %}
        {% else %}
            <h2 style="color: red;">No se han encontrado tareas ingresadas en el sistema...</h2>
        {% endif %}
    </table>
</body>
</html>