*{
    margin: 0;
}

/* Div titulo*/
.titulo{
    display: flex;
    justify-content: center;
    font-family: arial;
    margin-left: 50px;
    margin-top: 40px;
    padding-bottom: 30px;
}

/* Div tareas empleado */
#contenedor{
    border: 2px solid seagreen;
    text-align: center;
    margin: 30px;
    margin-left: 80px;
    /* Para Mozilla */
    -moz-border-radius: 10px;
    /* Para Chrome y Edge*/
    -webkit-border-radius: 40px;
}

.info{
    font-family: arial;
    color: darkslategray;
    font-size: larger;
    margin-right: 40px;
}