{% extends 'core/base.html' %} <!--Extends nos deja situados en templates-->
{% load static %}
{% block js %}

{% endblock js %}


{% block css %}
<link rel="stylesheet" href="{% static 'core/css/homeJefatura.css' %}">
{% endblock css %}


{% block contenido %}
<div class="titulo">
    <h1>Informacion de Tareas Asignadas</h1>
</div>
<div id="contenedor">
    <label class="info">Alejandro Lopez</label>
    <label class="info">Tareas asignadas: 4</label>
    <label class="info">Tareas completadas: 1</label>
    <br>
    <label class="infoTarea">Tarea</label>
</div>

{% endblock contenido %}