/*GENERAL <-----------------------------------------------------*/
* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background: #e2e2e2;
	font-family: arial, helvetica, sans-serif;
	font-size: 16px;
}

.wrap {
	margin: auto;
	max-width: 800px;
	width: 90%;
	padding-left: 45px;
}

.principal {
	background: #e2e2e2;
	color: #fff;
	padding: 50px 0;
	width: 100%;
}

.principal .formulario {
	color: #212121;
	text-align: center;
}

/* NAVBAR MENÚ
************************************************************/
ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkslategray;
}

ul.menu li {
    float: left;
}

ul.menu li a {
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Calibri;
    font-size: 130%;
}

/* Objetos seleccionados del nav*/
ul.menu li a:hover:not(.activo) {
    background-color: darkseagreen;
    color: whitesmoke;
}

ul.menu li a.activo {
    background-color: darkseagreen;
}

ul.menu li.derecho {
    float: right;
}

@media screen and (max-width: 600px) {
    ul.menu li.derecho,
    ul.menu li {
        float: none;
    }
}

/*INPUTS <-------------------------------------------------------------*/
.principal .formulario input[type=text] {
	margin-bottom: 20px;
	padding: 10px;
	width: 100%;
	border: 2px solid seagreen;
}

.principal .formulario input[type=date]{
	margin-bottom: 20px;
	padding: 10px;
	width: 100%;
	border: 2px solid seagreen;
	cursor: pointer;
}

.responsableSelect {
    border: 2px solid seagreen;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    margin: 0;
    display: block;
	width: 100%;
	cursor: pointer;
    padding: 12px 55px 15px 15px;
    font-size: 14px;
}

.textAreaInput {
	float:left;
	width: 100%;
	min-height: 200px;
	outline: none;
	resize: none;
	border: 2px solid seagreen;
	margin-bottom: 20px;
}

.principal .formulario label {
	color: black;
	font-size: x-large;
	font-family: Helvetica;
}

/*ERROR <---------------------------------------------------------*/
.principal .formulario input[type=text].error {
	border: 3px solid #D32F2F;
	color: red;
}

/*BOTON <-------------------------------------------------------*/
.principal .formulario .boton {
	background: scroll;
	border: 2px solid limegreen;
	color: black;
	display: inline-block;
	font-size: 20px;
	padding: 15px;
	margin-top: 30px;
}

.principal .formulario .boton:hover {
	border: 2px solid seagreen;
	background-color: seagreen;
	color: whitesmoke;
}

/*LISTAS <--------------------------------------------------------*/
.tareas {
	background-color: #e2e2e2;
}

.tareas .lista {
	list-style: none;
}

.tareas .lista li {
	border-bottom: 1px solid #B6B6B6;
}

.tareas .lista li a {
	color: black;
	display: block;
	padding: 20px 0;
	text-decoration: none;
	font-size: x-large;
}

.tareas .lista li a:hover {
	text-decoration: line-through;
	color: red;
}

/*Label que usamos con la funcion agregar*/
.tareas label{
	font-size: larger;
	color: black;
}